.footer-container {
  background-color: #d6d5d5;
  padding: 3rem 2em;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  /* justify-content: center; */
}

.footer-privacy-heading {
  color: black;
  margin-left: auto;
  margin-right: 3vw;
  /* margin-top: 1vw; */
  text-decoration: none;
  /* margin-right: auto; */
}

@media only screen and (max-width: 600px) {
  .footer-privacy-heading {
    /* margin-top: 50px; */

    /* margin-right: auto; */
  }
}

 .image-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 10px;
  margin-right: auto;

}


.link-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 10px;
  margin-right: auto;
  margin-top: 20px

}
