.wrapper {
  background-color: black;
}
.ourmission {
  background-color: black;
  display: flex;
  height: 90vh;
  align-items: center;
  text-align: center;
  font-size: 3rem;
}

.ourmission1 {
  background-color: black;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.ourmission > h3 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.ourteam {
  background-color: black;
  display: flex;
  height: 10vh;
  margin-top: 100px;
  justify-content: center;
  font-size: 3rem;
}
.teamimages {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  border-radius: 50%;
}
.teamimages > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.names {
  display: flex;
  height: 50px;
  margin-top: 20px;
  justify-content: center;
  font-size: 3rem;
}

.titles {
  display: flex;
  height: 10vh;
  justify-content: center;
  font-size: 3rem;
}

.titles1 {
  display: flex;
  height: 40vh;
  justify-content: center;
  font-size: 3rem;
}

h2 {
  color: white;
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: white;
  font-size: 50px;
  justify-content: center;
}
h4 {
  color: white;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  color: white;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.party {
  color: #fb706e;
}
