.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  overflow-x: hidden;
}

.purpose {
  /* background: url("C:\Users\tosri\kastech\src\assets\computer-background.png")
    center center/cover no-repeat; */
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-top: -20vh;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

img {
  max-width: 100vw;
}

.purpose > h2 {
  color: white;
  font-size: 100px;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* border-right: 5px solid white;s */
  letter-spacing: 2px;
  margin: 0 auto;
  /* animation: typing 3.5s steps(30, end), blink-caret 0.8s step-end infinite; */
}

@media only screen and (max-width: 600px) {
  .purpose > h2 {
    font-size: 50px;
  }
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  25% {
    border-color: white;
  }
}

.purpose2 {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* height: 90vh; */
  margin-bottom: 20vh;
  /* align-items: center; */
  /* justify-content: center; */
}

.purpose2 > h3 {
  color: white;
  font-weight: bold;
  font-size: 100px;
  /* margin: 20vh 0; */
}

.purpose2 > p1 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  /* padding: 10vh 0; */
  padding: 40px 0;
  max-width: 80vw;
  /* display: flex; */
  /* text-align: center; */
}

@media only screen and (max-width: 600px) {
  .purpose2 > h3 {
    font-size: 3em;
  }
  .purpose2 > p1 {
    font-size: 27px;
  }
}

.attack {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* height: 90vh; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 30px;
  margin-bottom: 20vh;
}

.attack > h4 {
  color: white;
  font-size: 60px;
}


.attack > p5 {
  /* padding: 30px; */
  font-size: 30px;
  padding: 40px 0;
  max-width: 80vw;
  /* text-align: center; */
}

@media only screen and (max-width: 600px) {
  .attack > h4 {
    font-size: 1.5em;
  }
  .attack > p5 {
    font-size: 27px;
  }
}

.pricing-info {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* height: 90vh; */
  align-items: center;
}

.pricing-info > h4 {
  color: white;
  font-weight: bold;
  font-size: 45px;
}

.pricing-info > img {
  padding: 20px;
  margin-bottom: 25px;
}

.pricing-info > p6 {
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}


@media only screen and (max-width: 600px) {
  .price-table {
    display: none;
  }

}
@media only screen and (min-width: 600px) {
  .mobile-price-table {
    display: none;
  }

}
mark.blue {
  animation: color-change 6s infinite;
  background: none;
}

@keyframes color-change {
  0% {
    color: white;
    font-style: italic;
  }
  25% {
    color: lightgreen;
    font-family: Montserrat;
  }
  50% {
    color: #f9706e;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
  }
  75% {
    color: lightseagreen;
    /* font-family: cursive; */
    font-style: italic;
    font-style: unset;
  }
  100% {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
  }
}
mark.kasred {
  color: #f9706e;
  background: none;
}

mark.red {
  color: red;
  background: none;
}

mark.green {
  color: palegreen;
  background: none;
}
